<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.negotiation">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".base.APP"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/icon_home"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:icon">
        <activity android:name=".ui.SipHome"
            android:theme="@style/MainTheme"></activity>
        <activity
            android:name=".ui.LeadActivity"
            android:theme="@style/MainTheme">
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UserActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:permission="android.permission.CONFIGURE_SIP"
            android:theme="@style/MainTheme"></activity>
        <!-- To be able to do video, this has to be launched in sipStack process -->
        <activity
            android:name=".incall.InCallActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack"
            android:taskAffinity="">
            <intent-filter android:priority="10">
                <action android:name="com.csipsimple.phone.action.INCALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".socket.service.LongConnectService"
            android:label="HeartBeatService" />
    </application>

</manifest>